@import "./variables", "./mixins";

.navbar{
    background-color: $brown;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;

    a{
        color: $eggshell;
        text-decoration: none;
        padding: 0.5rem;
        &:hover{
            background-color: $lightGreen;
            color: black;
        }

    };
    
};

@include media-xsm{
    .navbar{
        flex-direction: column;
        text-align: center;
    }
};

@include media-sm{
    .navbar{
        flex-direction: row;
        
    }
};